{% block content %}
  {% if latest_entry_list %}
    {% for Entry in latest_entry_list %}
    <h2 class="blog-post-title"><strong>Title: </strong>{{ Entry.title}}</h2>
    <a href="{% url "entry_detail" Entry.slug %}">Click to see detail</a>
      <p class="blog-post-meta"><strong>Published at: </strong>{{Entry.pub_date}} by {{Entry.author}}</p>
        <p><strong>Content:</strong></p>
        {{ Entry.content }}
        <hr>
    {% endfor %}
{% else %}
    <p>No entry is available.</p>
{% endif %}
  {% endblock content %}
