{% extends "post/base.html" %}
{% load staticfiles bootstrap3 %}
{% block title %}Update Entry{% endblock %}
{% block content %}
<div class ="container">
  <div class="page-header">
    <h1>Update Entry<strong> {{ object.name }}</strong></h1>
  </div>
  {% bootstrap_messages %}
  <form enctype="multipart/form-data" action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Update
    </button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}
