{% extends "post/base.html" %}
{% load staticfiles bootstrap3%}
{% block title %}{{object.title}}{% endblock %}
{% block content %}
  <body>
    <div class="container">
      <div class="page-header">
        <h1>{{object.title}} <small>{{object.author}}, {{object.pub_date}}</small> </h1>
      </div>
      {% bootstrap_messages %}
      <h2>{{object.content}}</h2>
      {% if object.author == request.user %}
      <div style="margin-top: 10px;">
        <a class="btn btn-primary" href="{% url 'entry_update' object.slug %}" role="button" >Update
        </a>
        <a class="btn btn-danger" href="{% url 'entry_delete' object.slug %}" role="button">Delete
        </a>
      </div>
      {% endif %}
    </div>
{% endblock %}
