akismet==0.2.0
bumpversion==0.5.3
Django==1.8.1
django-bootstrap3==5.4.0
django-ckeditor==4.4.7
django-contrib-comments==1.6.0
django-crispy-forms==1.4.0
django-disqus==0.5
django-facebook==6.0.2
django-fluent-comments==1.0.2
django-precise-bbcode==1.0.8
django-simple-captcha==0.4.5
facebook-sdk==0.4.0
ipdb==0.8
ipython==3.1.0
mock==1.0.1
Pillow==2.8.1
pytz==2015.2
six==1.9.0
Unidecode==0.4.17
